{{#if loggedIn}}
  {{>private-nav}}
  {{else}}
  {{>public-nav}}
{{/if}}

<div id="x">
  <div class="card">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
      <footer class="blockquote-footer">{{post.user.username}}
        @
        {{formatDate post.createdAt}}</footer>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Comments</div>
{{#each post.comments as |comment|}}
    <div class="card-body">
      <div>
        <p>{{comment.comment_text}}</p>
        <p>by {{comment.user.username}}, {{formatDate comment.createdAt}}</p>
      </div>
    </div>
{{/each}}
  </div>

{{#if loggedIn}}
<div class="card">
    <div class="card-body" >
      <div class="mb-3">
        <label
          for="exampleFormControlTextarea1"
          class="form-label"
        >Comment</label>
        <textarea
          class="form-control"
          id="new-comment"
          rows="3"
        ></textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="button" onclick="commentFormHandler({{post.id}})"  id="submit-comment">
          Submit Comment
        </button>
      </div>
    </div>
  </div>
</div>
{{/if}}


    <script src="/js/comment.js"></script>